@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #000000;
}

body {
    margin: 40px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    background-color: lightgray;
}

.main-header {
    width: 100%;
}

.main-nav {
    text-align: center;
    font-size: 1.25em;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 100%;
}

.main-nav li {
    padding: 3% 3%;
    flex: 1;
    text-align: center;
    margin: 20px 20px;
    width: 100%;
}

.profile-pic{
    float: left;
    margin-right:1rem;
}

.container-row {
    align-items: inline;
    align-content: center;
}